<?xml version="1.0" encoding="UTF-8"?>

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <body>
  
    <section name="Writing FileSetChecks">
      <p> Writing a FileSetCheck is pretty straightforward: Just
      inherit from <a
      href="apidocs/com/puppycrawl/tools/checkstyle/api/AbstractFileSetCheck.html">AbstractFileSetCheck</a>
      and override the abstract <a
      href="apidocs/com/puppycrawl/tools/checkstyle/api/AbstractFileSetCheck.html#processFiltered(java.io.File, java.util.List)"><code>processFiltered(java.io.File, java.util.List)</code></a> method and you&#39;re
      done. A very simple example could fire an error if the number of files
      exceeds a certain limit. Here is a FileSetCheck that does just that:</p>
    </section>

  </body>
</document>

